@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-stroke {
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #ffffff, #9dabb8, #1672f7) 1;
    border-image-slice: 1;
}
